
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f7f1ff;
  color: #333;
}
header {
  background: #8e44ad;
  color: white;
  text-align: center;
  padding: 40px;
}
h2 {
  color: #8e44ad;
}
section {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}
footer {
  background: #8e44ad;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}
